<div class="well well--confirmation">
  <h2 class="heading--small">{{ 'Volunteers will receive a notification with your response.'|t }}</h2>
  <p>{{ volunteers_responded_link }}</p>
  <p>{{ all_interest_in_role_link }}</p>
</div>
