<div class="well well--confirmation">
  <p>{{ 'An email with further instructions has been sent to:' }}</p>
  <p>{{ email }}</p>
</div>

<div>{{ return_to_members }}</div>
<div>{{ return_to_dashboard }}</div>
