<div class="htmlmail-body">
    {{ message.body }}
</div>

<div class="htmlmail-body">
    <p>Thank you for creating a provider profile on Team London's website.</p>
    <p>We've now reviewed your profile. Before we can approve and list it on our website, you will need to make some changes.</p>
    <p><a href="{{ message.link }}"><strong>See our feedback and edit your profile</strong></a></p>
    <p><strong>Next steps</strong></p>
    <p>Once you've made the required changes to your profile, you can resubmit it for approval.</p>
</div>
