<div class="well well--confirmation">
  <p>{{ 'We have sent a confirmation email to your address:' }}</p>
  <p>{{ email }}</p>
</div>


<h2 class="heading--alt">{{ 'What happens next'|t }}</h2>

{{ 'Check your email and follow the link to continue creating your volunteer account. If you cannot find the email, please check your spam or junk mail folder.'|t }}
