<div class="htmlmail-body">
    {{ message.body }}
</div>

<div class="htmlmail-body">
    <p>Thank you for creating a new volunteering role on Team London's website.</p>
    <p>Congratulations! We've now approved this role and have published it on our website.</p>
    <p><a href="{{ message.link }}"><strong>See your volunteering role</strong></a></p>
    <p>You can share this link with your networks to help promote your role.</p>
    <p><strong>What happens next</strong></p>
    <p>You'll receive a notification when volunteers register their interest in your role. You'll then be able to respond to them via our website.</p>
</div>
