<div class="htmlmail-body">
    {{ message.body }}
</div>

<div class="htmlmail-body">
    <p>You still have feedback that hasn't been reviewed yet.</p>
    <p>Before we can approve and list it on our website, you will need to make some changes.</p>
    <p><a href="{{ message.link }}"><strong>See our feedback and edit your role</strong></a></p>
    <p><strong>Next steps</strong></p>
    <p>Once you've made the required changes to your role, you can resubmit it for approval.</p>
</div>
